/*
---------CSS for drop down feature---------
*/

@import url('demo.css');
@import url('common.css');
@import url('icons.css');
.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
}

.cd-active.cd-dropdown > span {
    color: #4d8c9d;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #4d8c9d;
    color: #fff;
}


/*
---------Custom changes of CSS for dropdown---------
*/

.container .codrops-top .right p {
    margin-right: 15px;
    font-weight: 800;
    font-size: 13px;
}

.cd-dropdown ul li span {
    width: 400px;
}


/*
---------CSS for chess board---------
*/

#mainChessBoard {
    width: 360px;
    height: 360px;
    border: 1px solid black;
    box-sizing: content-box;
}

#mainChessBoard .cell {
    width: 45px;
    height: 45px;
    float: left;
}

#mainChessBoard #pawn {
    background: url(../image/pawn.png);
    background-size: cover;
    width: 45px;
    height: 45px;
    display: inline-block;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

#mainChessBoard #locator {
    width: 45px;
    height: 45px;
    background-color: #4d8c9d;
    margin-top: 2px;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0.6;
}

#mainChessBoard .cell:hover {
    background-color: #4d8c9d;
}

#consoleWindow {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 360px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #888888;
}

#consoleWindow p {
    margin: 5px;
    padding: 0;
    color: black;
    text-align: center;
}
